body {
  font-family: 'Tajawal', sans-serif;
  background: #43464B; /*steel gray*/
  color: white;
  font-size: 16px;
}

header h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: 300;
  color: white;
}

.input_area {
  text-align: center;
}

.deleteButton {
  float:right;
}

li {
  list-style: none;
  width: 74vw;
  padding: 5px 10px 7px;
  margin: 5px auto;
  font-weight: 300;
  outline: none;
  font-size: 1.4rem;
}

.input_area {
  outline: none;
  padding: 10px 5px 10px;
}


ul {
  padding: 0 ;
  outline: none;
}

input {
  padding: 5px 10px 5px;
  font-family: 'Ubuntu', sans-serif;
  outline:none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;

}

::placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

button {
  padding: 5px 10px 5px;
  font-family: 'Ubuntu', sans-serif;
  background: inherit;
  border: 1px solid white;
  color: white;
}

.displayNone {
  display: none;
}

.fa-plus {
  font-size: 15px;
}



/*************************
       Media query
************************/

@media only screen and (min-width: 321px) {
  li {
    font-size: 1.5em;
  }

  button {
    font-size: 1em;
  }

  input {
    font-size: 1em;
  }
}

  @media only screen and (min-width: 600px) {
    li {
      font-size: 2em;
    }

    button {
      font-size: 1.8em;
    }

    input {
      font-size: 1.8em;
    }

  }



    @media only screen and (min-width: 1200px) {
      li {
        width: 40vw;
      }
    }

